/* Styling for FAQ page */

.faq {
    margin-top: 10px;
}

.faq h1 {
    padding: 0 0 10px 10px;
    font-size: 35px;
    text-align: center;
    font-weight: bolder;
    color: whitesmoke;
}

.faq table {
    background-color: none;
    color: #000523;
}

.faq tr {
    background-color: #EAE3D2;
}

.faq td {
    padding: 2%;
    border: 1px solid #000523;
    border-radius: 5px;
}

.faq details > summary {
    cursor: pointer;
    font-weight: bold;
    font-size: 18px;
}

.faq details > summary:hover {
    color: #1C3879;
}

.faq p {
    font-size: 16px;
}