body {
    margin: 0;
    background: rgb(180, 200, 220);
    font-family: sans-serif;
    font-weight: 300;
}

.container {
    width: 80%;
    margin: 0 auto;
}

.nav-bar {
    list-style: none;
    margin: 0px;
    padding: 0px;
    background: rgb(33, 55, 77);
    border-radius: 10px;
    overflow: auto;
}

.nav-bar li {
    float: left;
    margin: 30px;
    padding: 10px 15px;
}

.nav-bar li a {
    text-decoration: none;
    color: rgb(180, 200, 220);
    font-size: 30px;
    font-weight: 350;
    text-transform: capitalize;
}

.nav-bar li a:visited {
    text-decoration: none;
    color: rgb(180, 200, 220);
    font-size: 30px;
    font-weight: 350;
    text-transform: capitalize;
}

.nav-bar li a:hover {
    text-decoration: none;
    color: rgb(60, 120, 180);
    font-size: 30px;
    font-weight: 350;
    text-transform: capitalize;
}

.nav-bar li a:active {
    text-decoration: none;
    color: rgb(60, 120, 180);
    font-size: 30px;
    font-weight: 350;
    text-transform: capitalize;
}