body {
    margin: 0;
    background: lightcyan;
}

/* Navigation Bar */

.navbar ul {
    position: fixed;
    top: 0;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(20, 60, 100);
    width: 100%;
}

.navbar li {
    float: left;
    margin: 0;
    border-right: 1px solid rgb(200, 220, 240);
}
  
.navbar li:last-child {
    border-right: none;
}

.navbar li a {
    display:block;
    text-align: center;
    padding: 15px 50px 15px 50px;
    color: rgb(200, 220, 240);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
}

.navbar li a:visited {
    color: rgb(200, 220, 240);
}

.navbar li a:hover {
    color: rgb(60, 120, 180);
}

.navbar li a:active {
    color: rgb(60, 120, 180);
}

.navbar li img{
    width: 45px;
    height: 55px;
    float: right;
    margin-left: 150px;
    margin-top: 5px;
}

#currentlink {
    background-color: rgb(200, 220, 240);
    color: rgb(20, 60, 100);
}

/* Aside */

.aside ul{
    list-style: none;
    position: fixed;
    top: 65px;
    right: 0px;
    width: 20%;
    margin: 0;
    padding: 0;
    overflow: auto;
    background-color: rgb(200, 220, 240);
}

.aside li h2{
    display: block;
    font-size: 25px;
    padding: 5px 20px 5px 20px;
    color: rgb(20, 60, 100);
}

.aside li a {
    display:block;
    text-align: left;
    padding: 5px 20px 5px 20px;
    color: rgb(60, 120, 180);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 15px;
    text-decoration: none;
}

.aside li a:visited {
    color: rgb(20, 60, 100);
}

.aside li a:hover {
    color: rgb(240, 240, 240);
}

.aside li a:active {
    color: rgb(240, 240, 240);
}

/* Content */

.main {
    margin-top: 65px;
    width: 80%;
}

/* FAQ specific */

details > summary {
    list-style: none;
    cursor: pointer;
}

details > summary:hover {
    color: blue;
}

/* Dashboard */

table {
    width: 90%;
    border-collapse: collapse;
    table-layout: fixed;
}

table, td, th, tr {
    border: 1px solid;
}

th {
    box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.4);
}

.thead {
    position: sticky;
    background-color: lightskyblue;
    color: darkslateblue;
    top: 62px;
}

.tblock {
    position: sticky;
    background-color: darkcyan;
    color: antiquewhite;
    top: 81px;
}
td {
    word-wrap: break-word;
}
